<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f80e5f3a-3099-49a8-b6a1-df2395b1beb4/resourcegroups/mdasdm2018/providers/Microsoft.Web/sites/WebAPI2Tutorial2018</ResourceId>
    <ResourceGroup>mdasdm2018</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapi2tutorial2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapi2tutorial2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI2Tutorial2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAPI2Tutorial2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebAPI2TutorialContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvctutorial2018dbserver.database.windows.net,1433;Initial Catalog=WebAPI2Tutorial2018_db;User ID=admin-dbserver@mvctutorial2018dbserver;Password=1234567Aa!" Name="Data Source=tcp:mvctutorial2018dbserver.database.windows.net,1433;Initial Catalog=WebAPI2Tutorial2018_db;User Id=admin-dbserver@mvctutorial2018dbserver;Password=1234567Aa!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebAPI2TutorialContext-20180114190032.mdf;Initial Catalog=WebAPI2TutorialContext-20180114190032;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebAPI2TutorialContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebAPI2TutorialContext-20180114190032; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebAPI2TutorialContext-20180114190032.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebAPI2TutorialContext-Web.config Connection String">
      <ParameterValue>data source=tcp:mvctutorial2018dbserver.database.windows.net,1433;initial catalog=WebAPI2Tutorial2018_db;user id=admin-dbserver@mvctutorial2018dbserver;password=1234567Aa!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>